div {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

header {
  width: 100%;
  background: #000000;
  text-align: center;
  color: #ffffff
}

h1 {
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

nav {
  display: flex;
  justify-content: center;     
  background: #046380;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav a {
  padding: 5px;
  font-size: 20px;  
  color: white;
}

img {
  width: 100%
}

main {
  
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

form {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 700px;
  
}

footer {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #002F2F;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff
}

footer a {
  margin-top: 5px;
  color: #ffffff
}

button {
  margin-bottom: 40px;
  width: 150px;
  height: 30px;
  font-size: 15px;
  align-items: center;
  
}